
# ===================================================================================
# Editors
# ===================================================================================

# Emacs backup files
*.*~
*~
\#*\#

emacs/transient/
emacs/bookmarks
emacs/recentf
emacs/.org-id-locations
emacs/custom.el
emacs/org-roam.db
emacs/.lsp-session-*
emacs/history
emacs/places

# Undo Tree files
*.~undo-tree~

# Neovim plugins
nvim/plugin/

# Emacs config
emacs/auto-save-list/
emacs/elpa/
emacs/config.el
emacs/tramp

