
# ===================================================================================
# Editors
# ===================================================================================

# Emacs backup files
*.*~
*~
\#*\#

emacs/runtime/

# Config modules are literate org files that tangle into corresponding .el files.
emacs/modules/*.el

# TODO - these may all be deleted now since the runtime/ folder addition
emacs/transient/
emacs/bookmarks
emacs/recentf
emacs/.org-id-locations
emacs/custom.el
emacs/org-roam.db
emacs/.lsp-session-*
emacs/history
emacs/places
emacs/.cache

# Undo Tree files
*.~undo-tree~

# Neovim plugins
nvim/plugin/

# Emacs config
emacs/auto-save-list/
emacs/elpa/
emacs/config.el
emacs/tramp

# ===================================================================================
# OS Stuff
# ===================================================================================

**/*.DS_Store

